/* v2.0 */
@font-face { font-family: 'icn'; src: url('file:///android_asset/www/lib/icn.woff2') format('woff2'); font-weight: normal; font-style: normal; }

.event--english .event-lang:after { background-image: url("file:///android_asset/www/logos/uk2.svg"); }		
.event--english.event--online .event-lang:after { background-image: url("file:///android_asset/www/logos/uk.svg"); }
.event--german .event-lang:before { background-image: url("file:///android_asset/www/logos/de2.svg"); }				
.event--german.event--online .event-lang:before { background-image: url("file:///android_asset/www/logos/de.svg"); }


.--menuMove .schedule-dimmer { transition:none; display:block; }
.--menuMove .schedule-menu { transition:none; }
.--menuMove .menu-item:after { opacity:1; }

.schedule-menu { transition: width .25s ease-in-out, left .25s ease-out, background-color .4s ease-in-out; }

/* airMouseScroll */
.schedule-list.scrll * { pointer-events:none !important; }

.event--touched .stream { background: var(--selected); }
.event--touched .stream--played { background:#353535; }

.video-bar.video-bar--touchMove { transition:none; }

/* airMouseScroll */
.video-streambar.scrll * { pointer-events:none !important; }
	
.video-bar-reload {
	position: absolute;
  top: 1em;
  right: .5em;
  padding: .5em 1em;
  cursor: pointer;
  font-family: icn;
}

input[type="checkbox"] + label:hover { transform:scale(1.02); }

/**************************************/
/************ Hamburger ***************/
/********** Media-Queries *************/
/**************************************/

.schedule-hamburger {
	position: fixed;
	top:-3.4em;
	left:0;
	right:0;
	transition: background-color .4s ease-in-out;
	height: 3em;
	z-index: 1;
	padding:.2em;
	display:flex;
	align-items:center;
	font-family: 'icn';
	background:var(--bg);
	color: white;
}

@media only screen and (max-width: 640px) {
	body {
		font-size:14px;
	}
}

@media only screen and (max-width: 550px) {
	.event {
		margin: 1em;
	}
	.event-header {
		flex-wrap: wrap;
	}
	.event-label {
		order:1;
		width:calc(100% - 3em);
		max-width:none;
		margin-top:.6em;
	}
	.event-lang {
		flex-wrap: nowrap;
	}
	.event-logos {
	    order: 2;
	    margin: .6em 0 0 1em;
	    min-height: 3.625em;
	}		
	.event--german .event-lang:before,
	.event--english .event-lang:after {
		margin-right:.3em;
		margin-left:0;
		order:unset;
		align-self: center;
  }
  .event-lang span {
  	width:unset;
  }
}

@media only screen and (orientation:portrait) {

	.schedule-menu { left: -17em; }
	.--menuMove .schedule-menu { width:16em; }
	
	.schedule-list { padding-left:0 !important; padding-bottom:3em; margin-top:3.4em; }
	
	.schedule-hamburger { top: 0; }
	.--menuMove .schedule-hamburger, .schedule--menu .schedule-hamburger {
		background:var(--selected);
	}
		.hamburger-icon:before {
			margin: 0 .6em;
			display: inline-block;
			content: '\e8ae';
			font-size: 2em;
			cursor: pointer;
		}
		
		.hamburger-filter { flex-grow:1; text-align:right; }
		
		.hamburger-filter:before, .hamburger-audio_group:before, .hamburger-audio_group:after {
			font-size: 1.3em;
			opacity:.5;
			margin: 0 .6em;
		}	
		
		[filter="de"] .hamburger-filter:before { content:'\e80e'; }
		[filter="fb"] .hamburger-filter:before { content:'\e857'; }
		[filter="main"] .hamburger-filter:before { content:'\e827'; }
		[filter="more"] .hamburger-filter:before { content:'\e879'; visibility:hidden; }

		.schedule--audiofilter .hamburger-audio_group:before { content:'\e897'; }
		.schedule--group .hamburger-audio_group:after { content:'\e8cc'; }	
	
}
